# ROUGE Score - output_ft

In [1]:
import pandas as pd
ft = pd.read_csv('/home/sjkim/textmining/kobart/KoBART-summarization/data/output_ft.csv')
ft.head()

                                       model_summary
0  호텔스닷컴에 따르면 그랜드 워커힐 서울과 협업해 꾸민 '호텔스닷컴 벨퍼그 랜드 룸'...
1  지난 12일 유기농 여성용품 브랜드 라엘은 국내 공식 쇼핑몰을 열고 대표 제품인 라...
2  대한항공은 3분기 영업이익 2,503억원(+4.0%)를 기록했을 것으로 전망합니다....
3  이구열 우양 대표는 6일 서울 여의도에서 열린 기업공개(IPO) 기자간담회에서 중장...
4  동사는 자동차용 스틸 파이프와 변속기용 플레이트 부문 일인자로 자동차용 스틸 파이프...

In [7]:
docs = pd.read_csv('/home/sjkim/textmining/kobart/KoBART-summarization/data/final_test_clean.tsv', sep='\t')
docs.drop(['news', 'length'], axis=1, inplace=True)

In [45]:
# 2137, 2805 지우기 - summary에서. 왜 지우냐면 summary에는 있는데 model summary에는 없어서 길이가 안맞음!! 
# 2개씩 밀려버려서 ROUGE 스코어 계산 불가능 그래서 그냥 지워버림
docs.drop(docs.index[2137], inplace=True)

                                                summary
2135  대마도가 원래 우리 땅이라는 많은 기록이 있고 해방 후 이 대통령은 수시로 대마도를...
2136  테스가 1분기에 이어 2분기에도 양호한 실적을 발표했습니다. 하지만, 메모리 수요가...
2138  기아차 광주공장은 4일 광주 교육연수원에서 수능시험을 마치고 진로선택을 앞두고 있는...

In [78]:
docs.drop(docs.index[2805], inplace=True)

In [79]:
docs.reset_index(drop=True, inplace=True)

In [80]:
docs

                                                summary
0     호텔스닷컴은 지난 5월 자녀가 있는 가정을 대상으로 설문조사를 진행한 결과, 국내서...
1     유기농 여성용품 브랜드 라엘은 다양한 고객 이벤트와 함께 생리대와 여성청결제 마스크...
2     메르스 효과로 인한 중국 노선 부진이 성수기 내내 이어졌지만 3분기 대한항공은 2,...
3     음료베이스 및 퓨레, HMR 제품을 제조하는 식품 제조 전문기업인 우양은 이번 코스...
4     동사는 자동차용 스틸 파이프와 변속기용 플레이트를 생산하는 업체로 동 분야에서는 국...
...                                                 ...
3886  14일 금융감독원은  SKT 박정호 사장의 총 보수가 38억8100만원이라고 밝혔는...
3887  29일 KB 주택 가격 동향에 따르면 이달 전국 아파트 평균 전세가율은 70.6%로...
3888  HDC현대산업개발은 금년도 연결기준 2분기 영업이익이 1958억원으로 작년 대비 9...
3889  손자회사인 LS전선아시아가 상장 예비심사를 통과했고, 조만간 KOSPI에 상장될 것...
3890  소설 동의보감이 출간되자 담박에 베스트셀러가 되었고 나라에서는 1991년을 허준의 ...

[3891 rows x 1 columns]

In [81]:
full = pd.concat([ft, docs], axis=1)
full

,model_summary,summary
0,호텔스닷컴에 따르면 그랜드 워커힐 서울과 협업해 꾸민 '호텔스닷컴 벨퍼그 랜드 룸'...,"호텔스닷컴은 지난 5월 자녀가 있는 가정을 대상으로 설문조사를 진행한 결과, 국내서..."
1,지난 12일 유기농 여성용품 브랜드 라엘은 국내 공식 쇼핑몰을 열고 대표 제품인 라...,유기농 여성용품 브랜드 라엘은 다양한 고객 이벤트와 함께 생리대와 여성청결제 마스크...
2,"대한항공은 3분기 영업이익 2,503억원(+4.0%)를 기록했을 것으로 전망합니다....","메르스 효과로 인한 중국 노선 부진이 성수기 내내 이어졌지만 3분기 대한항공은 2,..."
3,이구열 우양 대표는 6일 서울 여의도에서 열린 기업공개(IPO) 기자간담회에서 중장...,"음료베이스 및 퓨레, HMR 제품을 제조하는 식품 제조 전문기업인 우양은 이번 코스..."
4,동사는 자동차용 스틸 파이프와 변속기용 플레이트 부문 일인자로 자동차용 스틸 파이프...,동사는 자동차용 스틸 파이프와 변속기용 플레이트를 생산하는 업체로 동 분야에서는 국...
...,...,...
3886,14일 금융감독원 전자공시시스템에 따르면 박정호 SK텔레콤 사장이 상반기 급여 6억...,14일 금융감독원은 SKT 박정호 사장의 총 보수가 38억8100만원이라고 밝혔는...
3887,29일 KB주택가격동향 자료에 따르면 이달 기준 전국 아파트의 평균 전세가율은 작년...,29일 KB 주택 가격 동향에 따르면 이달 전국 아파트 평균 전세가율은 70.6%로...
3888,GS건설과 HDC현대산업개발이 올 2분기 실적에선 희비가 엇갈렸지만 수익성이나 재무...,HDC현대산업개발은 금년도 연결기준 2분기 영업이익이 1958억원으로 작년 대비 9...
3889,"LS전선아시아 상장을 통해 LS전선 및 LS의 재무구조가 개선되고, 전선 사업부문의...","손자회사인 LS전선아시아가 상장 예비심사를 통과했고, 조만간 KOSPI에 상장될 것..."
3890,토정 이지함의 일대기를 다룬 소설 토정비결이 3권 완간하자 350만 부가 팔려 밀리...,소설 동의보감이 출간되자 담박에 베스트셀러가 되었고 나라에서는 1991년을 허준의 ...

#### rouge score 구하기

In [89]:
!pip install rouge

Collecting rouge
  Downloading rouge-1.0.1-py3-none-any.whl (13 kB)
Requirement already satisfied: six in /home/sjkim/.conda/envs/seongju/lib/python3.7/site-packages (from rouge) (1.16.0)
Installing collected packages: rouge
Successfully installed rouge-1.0.1

In [83]:
# 리스트로 만들기
label = list(full['summary'])
pred = list(full['model_summary'])

In [90]:
from rouge import Rouge

rouge = Rouge()
rouge.get_scores(pred, label, avg=True)

{'rouge-1': {'r': 0.29618319773497037,
  'p': 0.2839283183010583,
  'f': 0.28029738803204435},
 'rouge-2': {'r': 0.17623604015608835,
  'p': 0.1721428280297619,
  'f': 0.16797250051589652},
 'rouge-l': {'r': 0.27417553120979704,
  'p': 0.2633689595893687,
  'f': 0.25975993197084046}}

In [93]:
from rouge_score import rouge_scorer
import numpy as np

scorer = rouge_scorer.RougeScorer(['rouge1'], use_stemmer=True)

total_score = []
total_precision = []
total_recall = []

for l, p in zip(label,pred):
    scores = scorer.score(l,p)
    total_score.append(scores['rouge1'].fmeasure)
    total_precision.append(scores['rouge1'].precision)
    total_recall.append(scores['rouge1'].recall)

print('ROUGE score : ',np.mean(total_score))
print('Precision score : ',np.mean(total_precision))
print('Recall score : ',np.mean(total_recall))

ROUGE score :  0.3596199531902204
Precision score :  0.35785243777320724
Recall score :  0.4457495214760161

# ROUGE Score - output_pt

In [98]:
import pandas as pd
ft = pd.read_csv('/home/sjkim/textmining/kobart/KoBART-summarization/data/output_pt.csv')
ft.head()

                                       model_summary
0  호텔스닷컴이 그랜드 워커힐 서울과 협업해 꾸민 '호텔스닷컴 벨퍼그 랜드 룸'은 놀이...
1  유기농 여성용품 브랜드 라엘은 국내 공식 쇼핑몰을 열었다고 12일 밝혔으며 이번 개...
2  지난 3분기 대한항공은 IFRS 연결 기준 매출액 2조9,686억원(YoY 기준 -...
3  이우열 우양 대표는 6일 서울 여의도에서 열린 기업공개(IPO) 기자간담회에서 B2...
4  자동차용 스틸 파이프와 변속기용 플레이트 부문 일인자 동사는 1977년 설립되었으며...

In [99]:
docs = pd.read_csv('/home/sjkim/textmining/kobart/KoBART-summarization/data/final_test_clean.tsv', sep='\t')
docs.drop(['news', 'length'], axis=1, inplace=True)

In [100]:
docs

                                                summary
0     호텔스닷컴은 지난 5월 자녀가 있는 가정을 대상으로 설문조사를 진행한 결과, 국내서...
1     유기농 여성용품 브랜드 라엘은 다양한 고객 이벤트와 함께 생리대와 여성청결제 마스크...
2     메르스 효과로 인한 중국 노선 부진이 성수기 내내 이어졌지만 3분기 대한항공은 2,...
3     음료베이스 및 퓨레, HMR 제품을 제조하는 식품 제조 전문기업인 우양은 이번 코스...
4     동사는 자동차용 스틸 파이프와 변속기용 플레이트를 생산하는 업체로 동 분야에서는 국...
...                                                 ...
3888  14일 금융감독원은  SKT 박정호 사장의 총 보수가 38억8100만원이라고 밝혔는...
3889  29일 KB 주택 가격 동향에 따르면 이달 전국 아파트 평균 전세가율은 70.6%로...
3890  HDC현대산업개발은 금년도 연결기준 2분기 영업이익이 1958억원으로 작년 대비 9...
3891  손자회사인 LS전선아시아가 상장 예비심사를 통과했고, 조만간 KOSPI에 상장될 것...
3892  소설 동의보감이 출간되자 담박에 베스트셀러가 되었고 나라에서는 1991년을 허준의 ...

[3893 rows x 1 columns]

In [ ]:
# 2137, 2805 지우기 - summary에서. 왜 지우냐면 summary에는 있는데 model summary에는 없어서 길이가 안맞음!! 
# 2개씩 밀려버려서 ROUGE 스코어 계산 불가능 그래서 그냥 지워버림
docs.drop(docs.index[[2137, 2805]], inplace=True)

In [104]:
# 인덱스 다시 0번부터 설정
docs.reset_index(drop=True, inplace=True)
docs

                                                summary
0     호텔스닷컴은 지난 5월 자녀가 있는 가정을 대상으로 설문조사를 진행한 결과, 국내서...
1     유기농 여성용품 브랜드 라엘은 다양한 고객 이벤트와 함께 생리대와 여성청결제 마스크...
2     메르스 효과로 인한 중국 노선 부진이 성수기 내내 이어졌지만 3분기 대한항공은 2,...
3     음료베이스 및 퓨레, HMR 제품을 제조하는 식품 제조 전문기업인 우양은 이번 코스...
4     동사는 자동차용 스틸 파이프와 변속기용 플레이트를 생산하는 업체로 동 분야에서는 국...
...                                                 ...
3886  14일 금융감독원은  SKT 박정호 사장의 총 보수가 38억8100만원이라고 밝혔는...
3887  29일 KB 주택 가격 동향에 따르면 이달 전국 아파트 평균 전세가율은 70.6%로...
3888  HDC현대산업개발은 금년도 연결기준 2분기 영업이익이 1958억원으로 작년 대비 9...
3889  손자회사인 LS전선아시아가 상장 예비심사를 통과했고, 조만간 KOSPI에 상장될 것...
3890  소설 동의보감이 출간되자 담박에 베스트셀러가 되었고 나라에서는 1991년을 허준의 ...

[3891 rows x 1 columns]

In [105]:
full = pd.concat([ft, docs], axis=1)
full

,model_summary,summary
0,호텔스닷컴이 그랜드 워커힐 서울과 협업해 꾸민 '호텔스닷컴 벨퍼그 랜드 룸'은 놀이...,"호텔스닷컴은 지난 5월 자녀가 있는 가정을 대상으로 설문조사를 진행한 결과, 국내서..."
1,유기농 여성용품 브랜드 라엘은 국내 공식 쇼핑몰을 열었다고 12일 밝혔으며 이번 개...,유기농 여성용품 브랜드 라엘은 다양한 고객 이벤트와 함께 생리대와 여성청결제 마스크...
2,"지난 3분기 대한항공은 IFRS 연결 기준 매출액 2조9,686억원(YoY 기준 -...","메르스 효과로 인한 중국 노선 부진이 성수기 내내 이어졌지만 3분기 대한항공은 2,..."
3,이우열 우양 대표는 6일 서울 여의도에서 열린 기업공개(IPO) 기자간담회에서 B2...,"음료베이스 및 퓨레, HMR 제품을 제조하는 식품 제조 전문기업인 우양은 이번 코스..."
4,자동차용 스틸 파이프와 변속기용 플레이트 부문 일인자 동사는 1977년 설립되었으며...,동사는 자동차용 스틸 파이프와 변속기용 플레이트를 생산하는 업체로 동 분야에서는 국...
...,...,...
3886,"박정호 SK텔레콤 사장이 SK텔레콤, KT, LG유플러스 등 이동통신3사 최고경영자...",14일 금융감독원은 SKT 박정호 사장의 총 보수가 38억8100만원이라고 밝혔는...
3887,전세가율(매매가격 대비 전사가격 비율)이 80%가 넘는 지역 내 신규 물량에 내 집...,29일 KB 주택 가격 동향에 따르면 이달 전국 아파트 평균 전세가율은 70.6%로...
3888,GS건설과 HDC현대산업개발이 올 2분기 실적에서 희비가 엇갈렸지만 수익성이나 재무...,HDC현대산업개발은 금년도 연결기준 2분기 영업이익이 1958억원으로 작년 대비 9...
3889,LS의 손자회사인 LS전선아시아가 유가증권시장 예비심사를 통과하여 늦어도 9월 내에...,"손자회사인 LS전선아시아가 상장 예비심사를 통과했고, 조만간 KOSPI에 상장될 것..."
3890,창작과비평사에서 1990년 《소설 동의보감》(전 3권)이 출간되자 350만 부가 팔...,소설 동의보감이 출간되자 담박에 베스트셀러가 되었고 나라에서는 1991년을 허준의 ...

#### rouge score 구하기

In [106]:
# 리스트로 만들기
label = list(full['summary'])
pred = list(full['model_summary'])

In [107]:
from rouge import Rouge

rouge = Rouge()
rouge.get_scores(pred, label, avg=True)

{'rouge-1': {'r': 0.257033663730609,
  'p': 0.2861534636233934,
  'f': 0.2573989602161225},
 'rouge-2': {'r': 0.15061863786025673,
  'p': 0.1726932527515015,
  'f': 0.15233133707265806},
 'rouge-l': {'r': 0.23987554072820785,
  'p': 0.26751057197103295,
  'f': 0.2403495623466929}}

In [108]:
from rouge_score import rouge_scorer
import numpy as np

scorer = rouge_scorer.RougeScorer(['rouge1'], use_stemmer=True)

total_score = []
total_precision = []
total_recall = []

for l, p in zip(label,pred):
    scores = scorer.score(l,p)
    total_score.append(scores['rouge1'].fmeasure)
    total_precision.append(scores['rouge1'].precision)
    total_recall.append(scores['rouge1'].recall)

print('ROUGE score : ',np.mean(total_score))
print('Precision score : ',np.mean(total_precision))
print('Recall score : ',np.mean(total_recall))

ROUGE score :  0.3344097021326035
Precision score :  0.34786738804605305
Recall score :  0.4044966921630899

In [ ]:
# https://dodonam.tistory.com/368 여기서 rouge score 참조